# Python / Flask
venv/
hola/
backend/hola/
*.pyc
__pycache__/
database.db

# Node.js / React
frontend/node_modules/
frontend/.env
.DS_Store

# Environment & Sensitive
.env
.flaskenv
**/__pycache__/
**/*.pyc
backend/.env
backend/genai_error.log
backend/chatbot_error.log

# Databases
database.db
backend/chroma_db/